.log
.lock
.mylyn
.indexes
.markers
dialog_settings.xml
*.log
*.history
*History*
GitProjectData.properties
.plugins/org.eclipse.dltk.core/Containers.dat
.plugins/org.eclipse.e4.workbench/*
!.plugins/org.eclipse.e4.workbench/workbench.xmi
.plugins/org.eclipse.oomph.setup/*
!.plugins/org.eclipse.oomph.setup/workspace.setup
.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server
.plugins/org.eclipse.jdt.core
.plugins/org.eclipse.linuxtools.cdt.libhover
.plugins/org.eclipse.ltk.core.refactoring
.plugins/org.eclipse.tcf.te.ui
.plugins/org.eclipse.ui.workbench/*
!.plugins/org.eclipse.ui.workbench/workingsets.xml
.plugins/org.eclipse.rse.core
.plugins/org.eclipse.wst.sse.core
.plugins/org.python.pydev/pyunit_tests
.plugins/org.eclipse.cdt.core/*
!.plugins/org.eclipse.cdt.core/language.settings.xml
.plugins/org.eclipse.cdt.make.core/specs.*
.plugins/org.eclipse.cdt.managedbuilder.core/spec.*
.plugins/org.eclipse.cdt.ui/cHelpSettings.xml
.plugins/org.eclipse.core.runtime/*
!.plugins/org.eclipse.core.runtime/.settings
.plugins/org.eclipse.core.runtime/.settings/*
!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
.plugins/org.eclipse.core.resources/.history
.plugins/org.eclipse.core.resources/*
!.plugins/org.eclipse.core.resources/.root
!.plugins/org.eclipse.core.resources/.safetable
!.plugins/org.eclipse.core.resources/.projects
.plugins/org.eclipse.core.resources/.projects/*/*
!.plugins/org.eclipse.core.resources/.projects/*/*.tree
!.plugins/org.eclipse.core.resources/.projects/*/*.expand
