dialog_settings.xml
.log
.lock
.mylyn
.indexes
.history
*.pdom
.plugins/org.eclipse.mylyn.*
.plugins/org.eclipse.wb.discovery.core
.plugins/org.eclipse.epp.usagedata.recording
.plugins/org.eclipse.m2e.logback.configuration
.plugins/org.eclipse.linuxtools.cdt.libhover
.plugins/org.eclipse.ltk.core.refactoring
.plugins/org.eclipse.team.*
.plugins/org.eclipse.cdt.*
.plugins/org.eclipse.jdt.*
.plugins/org.eclipse.ui.*
.plugins/org.eclipse.*.ui
.plugins/org.eclipse.*.ui.*
!.plugins/org.eclipse.debug.ui
.plugins/org.eclipse.debug.ui/*
!.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.plugins/org.eclipse.core.resources/*
!.plugins/org.eclipse.core.resources/.root
!.plugins/org.eclipse.core.resources/.safetable
.plugins/org.eclipse.core.runtime/*
!.plugins/org.eclipse.core.runtime/.settings
.plugins/org.eclipse.core.runtime/.settings/*
!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
